<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <title>Checkout</title>
  <style>
    /* Disable hover effect for disabled button */

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f1f0f0;
    }

    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
      display: flex;
      justify-content: space-between;

    }

    .checkout-wrapper {
      display: flex;
      flex-direction: column;

    }

    .left-column {
      flex: 1;
      margin-right: 20px;
    }

    .right-column {
      flex: 1;
    }

    .product {
      margin: 10px 0;
      background-color: #fff;
      border-radius: 8px;
      overflow: hidden;
      display: flex;
    }

    .product img {
      width: 100px;
      height: auto;
      border-right: 1px solid #ddd;
    }

    .product-details {
      flex: 1;
      padding: 20px;
    }


    .modal {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      justify-content: center;
      align-items: center;
    }

    .modal-content {
      background-color: #fff;
      padding: 30px;
      border-radius: 8px;
      text-align: center;
      max-height: 300px;
      overflow-y: auto;
      width: 70%;
      max-width: 600px;
    }

    .close-modal {
      cursor: pointer;
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 18px;
    }

    .address-selector {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .address-card {
      width: 100%;
      border: 1px solid #ddd;
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 8px;
      cursor: pointer;
    }

    .address-card:hover {
      background-color: #f9f9f9;
    }

    .selected-address-card {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 8px;
      margin-top: 10px;
      padding: 10px;
    }

    .selected-address {
      font-weight: bold;
      margin-bottom: 10px;
    }

    .payment-options-card {
      background-color: #fff;
      border-radius: 8px;
      padding: 20px;
      margin-top: 20px;
    }

    .payment-options {
      display: flex;
      flex-direction: column;
      /* Updated to column for smaller screens */
      margin-top: 10px;
    }

    .payment-method {
      display: none;
      margin-top: 10px;
    }

    .payment-method.active {
      display: block;
    }

    .order-summary-card,
    .coupon-card {
      background-color: #fff;
      border-radius: 8px;
      padding: 20px;
      margin-left: 0;
      margin-top: 20px;
    }

    .order-summary-title {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .total-price {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .proceed-to-payment-button,
    .apply-coupon-button {

      color: white;
      padding: 10px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    .apply-coupon-button {
      background-color: #45a049;
    }



    .left-column {
      flex: 1;
      margin-right: 20px;
      max-width: 700px;
      /* Increase the max-width for the left column */
    }

    .right-column {
      flex: 1;
      max-width: 400px;
      /* Decrease the max-width for the right column */
    }

    .order-summary-card,
    .coupon-card {
      background-color: #fff;
      border-radius: 8px;
      padding: 20px;
      margin-left: 0;
      margin-top: 20px;
      max-width: 350px;
      /* Decrease the max-width for the order summary card */
    }

    .product-details {
      flex: 1;
      padding: 20px;
      max-width: 500px;
      /* Increase the max-width for the product detail card */
    }

    .checkout-wrapper {

      width: 600px;

    }

    .disabled-button {
      background-color: #ddd;
      cursor: not-allowed;
    }

    .proceed-to-payment-button:disabled {
      background-color: #ddd;
    }


    @media screen and (max-width:1145px) {
      .container {
        display: block
      }

      .toggle_icon {
        display: block !important;
      }

      header {
        width: 100%;
      }

    }




    header {
      background-color: #333;
      padding: 10px;
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
    }

    .logo {
      color: #fff;
      text-decoration: none;
      font-size: 1.5em;
    }

    .search-bar {
      flex: 1;
      margin: 0 20px;
      position: relative;
    }

    input[type="text"] {
      width: calc(100% - 30px);
      padding: 8px;
      padding-left: 30px;
      box-sizing: border-box;
    }

    .search-icon {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: #fff;
      font-size: 1.2em;
    }
  </style>
</head>

<body>
  <header>
    <a style="color: rgb(241, 167, 39); width: 1000px;" href="#" class="logo">VKART</a>




  </header>

  <div class="container">

    <div class="checkout-wrapper">

      <div class="order-summary-title">Order Summary</h1>
      </div>
      <div class="left-column">
        <!-- Product 1 -->
        <% for(var i=0; i < carts.length; i++) { %>
          <div style="width: 700px;" class="product">
            <img style="height:150px; width: auto;" src="<%= carts[i].productImages[0]%>" alt="Product 1">
            <div class="product-details">
              <div class="product-title">
                <%= carts[i].productName %>
              </div>
              <div class="product-price"> ₹ <%= carts[i].promotionalPrice%>
              </div>
              <div class="product-price">
                <p style="color: #45a049;">
                  <%= carts[i].discount%> %offers applied
                </p>
              </div>
              
              <div class="product-price">
                <p style="color: rgb(6, 6, 6);">Qty: <%= carts[i].UserQuantity%>
                </p>
              </div>




            </div>
          </div>
          <% } %>


            <!-- Product 2 -->


            <!-- Add more products as needed -->

            <!-- Open Modal Button -->
            <button onclick="openModal()"
              style="border-radius: 10px; border-color:white; background-color: rgb(245, 245, 29);">Select
              Address</button>


            <!-- Selected Address Display -->
            <div class="selected-address" id="selectedAddress"></div>
      </div>

      <div class="right-column">
        <!-- Payment Options Card -->
        <div class="payment-options-card">
          <h3>Payment Options</h3>
          <div class="payment-options">
            <div>
              <input value="cashOnDelivery" type="radio" id="cashOnDelivery" name="paymentMethod"
                onclick="showPaymentMethod(value)">
              <label for="cashOnDelivery">Cash on Delivery</label>
            </div>
            <div>
              <input value="onlinePayment" type="radio" id="onlinePayment" name="paymentMethod" onclick="showPaymentMethod(value)">
              <label for="onlinePayment">Online Payment</label>
            </div>
          </div>

          <!-- Online Payment Methods -->
          <div id="onlinePaymentMethod" class="payment-method">
            <!-- Online Payment Modal -->
            <div id="onlinePaymentModal" class="modal">
              <div class="modal-content">
                <span class="close-modal" onclick="closeOnlinePaymentModal()">&times;</span>
                <h2>Select Online Payment Method</h2>
                <!-- Add your online payment options here -->
                <div>Credit Card</div>
                <div>Debit Card</div>
                <!-- Add more online payment options as needed -->
              </div>
            </div>
          </div>
        </div>

        <!-- Coupon Card -->
        <div class="coupon-card">
          <label for="couponCode">Enter Coupon Code:</label>
          <input type="text" id="couponCode" class="coupon-input" placeholder="Enter your coupon code">
          <button class="apply-coupon-button" onclick="applyCoupon()">Apply</button>
        </div>
      </div>
    </div>

    <!-- Order Summary Card -->
    <div class="right-column">
      <div class="order-summary-card">
        <h2 class="order-summary-title">PRICE DETAILS</h2>
        <!-- Display selected products, quantities, and total price here -->

        <div class="total-price">Qty: <%= totalProducts %>
        </div>
        <div class="total-price">shipping: <span style="color: #45a049;">FREE</span></div>
        <div class="total-price">Total: ₹ <%= Total %>
        </div>
        <button id="proceedToPaymentButton" onclick=" proceedToPayment('<%= Total %>'),console.log('clicked');" class="proceed-to-payment-button" disabled
          type="button">Proceed to Payment</button>

      </div>
    </div>
  </div>

  <!-- Modal -->
  <div id="addressModal" class="modal">
    <div class="modal-content">
      <span class="close-modal" onclick="closeModal()">&times;</span>
      <h2>Select Address</h2>
      <div class="address-selector">
        <% for(var i=0; i < Address.length; i++) { %>

          <div class="address-card"
            onclick="selectAddress('<%= Address[i].name %>,<%= Address[i].Adress%>, <%= Address[i].phone%>,<%= Address[i].pincode%>,<%= Address[i].locality%>,<%= Address[i].state%>,<%= Address[i].city%>')">
            <%= Address[i].name %>, <%= Address[i].Adress%>, <%= Address[i].phone%>,<%= Address[i].pincode%>,<%= Address[i].locality%>,
            <%= Address[i].state%>,<%= Address[i].city%>,
          </div>
          <% } %>
      </div>
    </div>
  </div>
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
  <script>
    function openModal() {
      document.getElementById('addressModal').style.display = 'flex';
    }

    function closeModal() {
      document.getElementById('addressModal').style.display = 'none';
    }

    window.onclick = function (event) {
      if (event.target === document.getElementById('addressModal')) {
        closeModal();
      }
    }

    function selectAddress(address) {
      document.getElementById('selectedAddress').innerHTML =
        '<div class="selected-address-card"><div class="selected-address">Selected Address:</div>' + address + '</div>';
      closeModal();
      updateProceedToPaymentButton();
    }

    function showPaymentMethod(method) {
      var onlinePaymentMethod = document.getElementById('onlinePaymentMethod');
      if (method === 'onlinePayment') {
        onlinePaymentMethod.classList.add('active');
                         
      } else {
        onlinePaymentMethod.classList.remove('active');
      }
      updateProceedToPaymentButton();
    }

    function openOnlinePaymentModal() {
      document.getElementById('onlinePaymentModal').style.display = 'flex';
    }

    function closeOnlinePaymentModal() {
      document.getElementById('onlinePaymentModal').style.display = 'none';
    }

    function applyCoupon() {
      // applying a coupon code
    }
    async function proceedToPayment(Total) {
      var selectedAddress = document.getElementById('selectedAddress').innerText.trim();
      var paymentMethod = document.querySelector('input[name="paymentMethod"]:checked').value;

      // Assuming you have an endpoint '/api/payment' on your backend
      var endpoint = `/api/payment`;

      try {
        const response = await fetch(endpoint, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            selectedAddress: selectedAddress,
            paymentMethod: paymentMethod,
            totalAmount:Total
            // Add more data as needed
          }),
        });
        const responseData = await response.json();
        console.log(responseData);

        if (responseData.codSuccess) {
          window.location.href = '/placed';
        } else {
          // Handle errors
          console.log(response, 'kdjshjkdhflksjdhf');
          razorpayPayment(responseData.orders)
        }
      } catch (error) {
        console.error('Error during fetch:', error);
      }
    }
   
   
    function razorpayPayment (order){
      console.log(order);
      var options = {
        "key": "rzp_test_vPLjv2WYUNYCln", // Enter the Key ID generated from the Dashboard
        "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "Vcart", //your business name
        "description": "Test Transaction",
        "image": "https://example.com/your_logo",
        "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "callback_url": "/api/paymentVerification",
        "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
            "name": "Gaurav Kumar", //your customer's name
            "email": "gaurav.kumar@example.com",
            "contact": "9000090000" //Provide the customer's phone number for better conversion rates 
        },
        "notes": {
            "address": "Razorpay Corporate Office"
        },
        "theme": {
            "color": "#3399cc"
        }
      };
      console.log(options);
      var rzp1 = new Razorpay(options)
      rzp1.open();
      }


    function updateProceedToPaymentButton() {
      var selectedAddress = document.getElementById('selectedAddress').innerText.trim();
      var paymentMethod = document.querySelector('input[name="paymentMethod"]:checked');
      var proceedToPaymentButton = document.getElementById('proceedToPaymentButton');

      if (selectedAddress && paymentMethod) {
        proceedToPaymentButton.disabled = false;
        proceedToPaymentButton.style.backgroundColor = '#4CAF50'; // Enable color
        proceedToPaymentButton.style.cursor = 'pointer'; // Enable cursor
      } else {
        proceedToPaymentButton.disabled = true;
        proceedToPaymentButton.style.backgroundColor = '#ddd'; // Disable color
        proceedToPaymentButton.style.cursor = 'not-allowed'; // Disable cursor
      }
    }
  
  </script>

  <script src="js/proceedtoPay.js"></script>



</body>

</html>