<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Nest Dashboard</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/imgs/theme/favicon.svg" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.css" integrity="sha512-hvNR0F/e2J7zPPfLC9auFe3/SE0yG4aJCOd/qxew74NN7eyiSKjr7xJJMu1Jy2wf7FXITpWS1E/RY8yzuXN7VA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!-- Template CSS -->
        <link href="/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
    </head>

    <body>
        <div class="modal" id="cropModal">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Crop Image</h5>
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                  <img id="croppedImage" class="img-fluid" alt="Cropped Image">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" onclick="saveCroppedImage()">Save</button>
                  <button type="button" class="btn btn-secondary" onclick="closeModal()" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        <div class="screen-overlay"></div>
        <aside class="navbar-aside" id="offcanvas_aside">
            <div class="aside-top">
                <a href="/admisdash" class="brand-wrap">
                    <img src="/images/vk-icon-png-6.png" class="logo img-fluid" alt="Nest Dashboard" />
                </a>
                <div>
                    <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
                </div>
            </div>
            <nav>
                <ul class="menu-aside">
                    <li class="menu-item active">
                        <a class="menu-link" href='/adminsdash'>
                            <i class="icon material-icons md-home"></i>
                            <span class="text">Dashboard</span>
                        </a>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="page-products-list.html">
                            <i class="icon material-icons md-shopping_bag"></i>
                            <span class="text">Categories</span>
                        </a>
                        <div class="submenu">
                            
                            <a href="/unlistedCategory">Unlisted Categories</a>
                            <a href="/adminCategory">Categories</a>
                        </div>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="page-orders-1.html">
                            <i class="icon material-icons md-shopping_cart"></i>
                            <span class="text">Orders</span>
                        </a>
                        <div class="submenu">
                            <a href="/orderManage">Order list 1</a>
                        
                        </div>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="page-sellers-cards.html">
                            <i class="icon material-icons md-store"></i>
                            <span class="text">users</span>
                        </a>
                        <div class="submenu">
                            
                            <a href="/UserManage">user list</a>
                          
                        </div>
                    </li>
                    <li class="menu-item has-submenu">
                        <a class="menu-link" href="page-form-product-1.html">
                            <i class="icon material-icons md-add_box"></i>
                            <span class="text">Add product</span>
                        </a>
                        <div class="submenu">
                            <a href="/addProduct">Add product 1</a>
                            <a href="/productlist">product list</a>
                            <a href="/productUnlist">Unlisted Products</a>
                        
                        </div>
                    </li>
                 
                   
                   
                 
                </ul>
                <hr />
             
                <br />
                <br />
            </nav>
        </aside>
        <main class="main-wrap">
            <header class="main-header navbar">
                <div class="col-search">
                    <form class="api/updateProdcut" action="post">
                        <div class="input-group">
                            <input list="search_terms" type="text" class="form-control" placeholder="Search term" />
                            <button class="btn btn-light bg" type="button"><i class="material-icons md-search"></i></button>
                        </div>
                        <datalist id="search_terms">
                            <option value="Products"></option>
                            <option value="New orders"></option>
                            <option value="Apple iphone"></option>
                            <option value="Ahmed Hassan"></option>
                        </datalist>
                    </form>
                </div>
                <div class="col-nav">
                    <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"><i class="material-icons md-apps"></i></button>
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link btn-icon" href="#">
                                <i class="material-icons md-notifications animation-shake"></i>
                                <span class="badge rounded-pill">3</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                                <a class="dropdown-item text-brand" href="#"><img src="/imgs/theme/flag-us.png" alt="English" />English</a>
                                <a class="dropdown-item" href="#"><img src="/imgs/theme/flag-fr.png" alt="Français" />Français</a>
                                <a class="dropdown-item" href="#"><img src="/imgs/theme/flag-jp.png" alt="Français" />日本語</a>
                                <a class="dropdown-item" href="#"><img src="/imgs/theme/flag-cn.png" alt="Français" />中国人</a>
                            </div>
                        </li>
                        <li class="dropdown nav-item">
                            <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/imgs/people/avatar-2.png" alt="User" /></a>
                            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                                <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                                <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </header>
            <section class="content-main">
                <form action="/api/updateProdcut?id=<%= id%>" method="post" enctype="multipart/form-data">
                <div class="row">
                   
                    <div class="col-9">
                        <div class="content-header">
                            <h2 class="content-title">Add New Product</h2>
                            <div>
                                <button class="btn btn-light rounded font-sm mr-5 text-body hover-up" type="submit">Save to draft</button>
                                <button class="btn btn-md rounded font-sm hover-up">Publich</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Basic</h4>
                            </div>
                            <div class="card-body">
                                
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Product title</label>
                                        
                                    <input type="text" value="<%= title %>" placeholder="Type here" class="form-control" name="newtitle" id="product_name" />
                                    <% if( notitle){ %>
                                        <p class="errorClass">
                                            <%= notitle%>
                                        </p>
                                        <% } %>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Full description</label>
                                        <textarea  placeholder="Type here" class="form-control" name="description" rows="4"><%= description %></textarea>
                                        <% if( noDescription){ %>
                                            <p class="errorClass">
                                                <%=noDescription%>
                                            </p>
                                            <% } %>
                                    </div>
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label class="form-label">Regular price</label>
                                          
                                                <div class="row gx-2">
                                                    <input value="<%=regularPrice %>" placeholder="$" type="text" name="regularPrice" class="form-control" />
                                                   
                                                </div>
                                                <% if( noRegular){ %>
                                                    <p class="errorClass">
                                                        <%=noRegular%>
                                                    </p>
                                                    <% } %>
                                                <% if( error){ %>
                                                    <p class="errorClass">
                                                        <%= error%>
                                                    </p>
                                                    <% } %> 
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label class="form-label">Promotional price</label>
                                                <input value="<%=promotionalPrice %>" placeholder="$" type="text" name="promotionalPrice" class="form-control" />
                                            </div>
                                            <% if( noPromo){ %>
                                                <p class="errorClass">
                                                    <%=noPromo%>
                                                </p>
                                                <% } %>
                                            <% if( errorr){ %>
                                                <p class="errorClass">
                                                    <%= errorr%>
                                                </p>
                                                <% } %>
                                        </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <label class="form-label">Qty</label>
                                            <input value="<%=quantity %>" placeholder="select" type="number" name="quantity" class="form-control" />
                                            <% if( noQty){ %>
                                                <p class="errorClass">
                                                    <%= noQty%>
                                                </p>
                                                <% } %>
                                            <% if( errors){ %>
                                                <p class="errorClass">
                                                    <%= errors%>
                                                </p>
                                                <% } %>
                                           
                                        </div>
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">Discount</label>
                                        <input type="text" value="<%=discount %>" placeholder="%" name="discount" class="form-control" id="product_name" />
                                        <% if( noDis){ %>
                                            <p class="errorClass">
                                                <%= noDis%>
                                            </p>
                                            <% } %>
                                            <% if( err){ %>
                                                <p class="errorClass">
                                                    <%= err%>
                                                </p>
                                                <% } %>
                                    </div>
                                    <label class="form-check mb-4">
                                        <input class="form-check-input" type="checkbox" value="" />
                                        <span class="form-check-label"> Make a template </span>
                                    </label>
                               
                            </div>
                        </div>
                        <!-- card end// -->
                        
                        <!-- card end// -->
                    </div>
                    <% Images.forEach((image,index) => { %>
                    <div  data-image-id="<%= image._id %>" >
                       
                             <img  src="<%= image %>" alt="Product Image"   />
                             <a class="btn btn-light rounded font-sm mr-5 text-body hover-up" onclick="deletemyImage('<%= index %>','<%= id %>')">delete</a>
                            
                           
                            
                     
                       
                    </div>
                    <%  }); %> 
                    <div id="imagePreview" ></div> 
                    <div class="col-lg-3">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Media</h4>
                            </div>
                            <div class="card-body">
                                <div class="input-upload">
                                    <img src="/imgs/theme/upload.svg" alt="" />
                                    <input name="newImages" value="<%= Images %>" id="imageUpload" class="form-control " type="file" multiple />
                                 

                                   
                                </div>
                                <% if(noImg){ %>
                                    <p class="errorClass">
                                        <%=noImg%>
                                    </p>
                                    <% } %>
                            </div>
                            
                        </div>
                        
                        <!-- card end// -->
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Organization</h4>
                            </div>
                            <div class="card-body">
                                <div class="row gx-2">
                                    <div class="col-sm-6 mb-3">
                                        <label class="form-label">Category</label>
                                        <select name="category" class="form-select">
                                            
                                            <% for(var i = 0; i < category.length; i++) { %>
                           
                              
                                                <option><%= category[i].name %></option>
                                                      
                                                   <% } %>
                                            
                                        </select>
                                    </div>
                                   
                                   
                                </div>
                                <!-- row.// -->
                            </div>
                        </div>
                        <!-- card end// -->
                    </div>
                </div>
            </form>
            </section>
            <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                            
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>
           <!-- Add this script at the end of your HTML file -->
           <script>
            document.addEventListener('DOMContentLoaded', function () {
                // Function to update promotional price based on discount and regular price
                function updatePromotionalPrice() {
                    // Get the values of discount and regular price input fields
                    var discount = parseFloat(document.querySelector('input[name="discount"]').value) || 0;
                    var regularPrice = parseFloat(document.querySelector('input[name="regularPrice"]').value) || 0;
        
                    // Calculate promotional price by adding discount to regular price
                    var promotionalPrice = regularPrice - (regularPrice * discount / 100);
        
                    // Set the calculated promotional price in the input field
                    document.querySelector('input[name="promotionalPrice"]').value = promotionalPrice.toFixed(2);
                }
        
                // Attach the updatePromotionalPrice function to the change event of the discount and regular price input fields
                document.querySelector('input[name="discount"]').addEventListener('change', updatePromotionalPrice);
                document.querySelector('input[name="regularPrice"]').addEventListener('change', updatePromotionalPrice);
            });
        </script>
        <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

        <script src="/js/vendors/jquery-3.6.0.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.6.1/cropper.min.js" integrity="sha512-9KkIqdfN7ipEW6B6k+Aq20PV31bjODg4AA52W+tYtAE0jE0kMx49bjJ3FgvS56wzmyfMUHbQ4Km2b7l9+Y/+Eg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="/js/vendors/select2.min.js"></script>
        <script src="/js/vendors/perfect-scrollbar.js"></script>
        <script src="/js/vendors/jquery.fullscreen.min.js"></script>
        <script src="/js/preview.js"></script>
        <script src="/js/editpreview.js"></script>
        
        <!-- Main Script -->
        <script src="/js/main.js?v=1.1" type="text/javascript"></script>
    </body>
</html>
