<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>Nest Dashboard</title>
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta property="og:title" content="" />
        <meta property="og:type" content="" />
        <meta property="og:url" content="" />
        <meta property="og:image" content="" />
        <!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/imgs/theme/favicon.svg" />
        <!-- Template CSS -->
        <link href="/css/main.css?v=1.1" rel="stylesheet" type="text/css" />
            <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <!-- Responsive-->
    <link rel="stylesheet" href="css/responsive.css">
    <!-- fevicon -->
    <link rel="icon" href="images/fevicon.png" type="image/gif" />
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="css/jquery.mCustomScrollbar.min.css">
    <!-- Tweaks for older IEs-->
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
    <!-- font awesome -->
    <link rel="stylesheet" type="text/css"
        href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!--  -->
    <!-- owl stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Great+Vibes|Poppins:400,700&display=swap&subset=latin-ext"
        rel="stylesheet">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesoeet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
        media="screen">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/imgs/theme/favicon.svg" />
    <!-- Template CSS -->
    <link href="css/main.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    </head>

    <body>
      
       
      <header class="main-header style-2 navbar bgs">
        <div class="header_section">
            <div class="container">
                <div class="containt_main">
                    <div id="mySidenav" class="sidenav">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                        <a href="index.html">Home</a>
                        <a href="fashion.html">Fashion</a>
                        <a href="electronic.html">Electronic</a>
                        <a href="jewellery.html">Jewellery</a>
                    </div>
                    <div class="hamberger">

                        <span class="toggle_icon" onclick="openNav()"> <img src="images/toggle-icon.png"
                                class="Myimg"></span>


                    </div>


                    <div class="dropdown drop">
                        <button class="btn btn-secondary dropdown-toggle " type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">All Category
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </div>
                    <div class="main">
                        <!-- Another variation with a button -->
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Search this blog">
                            <div class="input-group-append">
                                <button class="btn btn-secondary myBtn" type="button"
                                    style="background-color: #f26522; border-color:#f26522 ">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="header_box">

                        <div class="login_menu">
                            <ul>
                                <li><a href="#">
                                        <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                        <span class="padding_10">Cart</span></a>
                                </li>
                                <li><a href="#">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <span class="padding_10">Cart</span></a>
                                </li>
                                <li><a href="#">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <span class="padding_10">Cart</span></a>
                                </li>
                                <li><a href="#">
                                        <i class="fa fa-user" aria-hidden="true"></i>
                                        <span class="padding_10">Cart</span></a>
                                </li>

                            </ul>


                        </div>

                    </div>
                    <a href="/"><div class="Special ">
                        <span class="name">Vkart</span>
    
                    </div></a>
                </div>
            </div>
        </div>

    </header> 
   
        <div class="screen-overlay"></div>
        
           
        <main class="main-wrap">
            
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Order details</h2>
                        
                    </div>
                </div>
                <div class="card">
          
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="row mb-50 mt-20 order-info-wrap">
                           
                            <!-- col// -->
        <!-- col// -->
      
<div class="col-md-4">
    <article class="icontext align-items-start">
        <span style="background-color: rgb(129, 125, 125) !important;" class="icon icon-sm rounded-circle bg-primary-light">
            <i style="color: black !important;" class="text-primary material-icons md-local_shipping"></i>
        </span>
        <div class="text">
            <h6 style="font-weight: 700; font-size: x-large;" class="mb-1">Order info</h6>
            <p style=" margin: 0px !important;"  class="mb-1">
                Ordered Date: <%= details[0].orderDate.split('T')[0].split('-').reverse().join('-') %><br />
                <span style="color: rgb(12, 158, 12); font-size: medium; font-weight: 400;">Pay method: <%= details[0]. paymentMethod %> </span>  <br />
                <p style="color: rgb(177, 76, 39);"></pstyle>  Status: <%= details[0].orderItems.orderStatus %></p>
                <% if(details[0].orderItems.orderStatus==="Pending"){ %>
                    <span style="color: red; font-size: medium; font-weight: 400;">Payment failed</span>
                  <a> <button onclick="openModal()">Retry Payment</button></a>
                <% } %>
            </p>
        </div>
    </article>
</div>
<!-- col// -->

<!-- Retry Payment Modal -->


  




                            <!-- col// -->
                            <div class="col-md-4">
                                <article class="icontext align-items-start">
                                    <span style="background-color: rgb(129, 125, 125) !important;" class="icon icon-sm rounded-circle bg-primary-light">
                                        <i style="color: black !important;" class="text-primary material-icons md-place"></i>
                                    </span>
                                    <div class="text">
                                      <h6 style="font-weight: 700; font-size: x-large;" class="mb-1">Deliver to</h6>
                                      <p class="mb-1 " style="width: 83%; margin: 0px !important;">
                                        <%= details[0].address%>
                                      </p>
                                    
                                  </div>
                                  
                                </article>
                            </div>
                            <!-- col// -->
                        </div>
                        <!-- row // -->
                        <div class="row">
                            <div class="col-lg-7">
                              <div class="card mt-4">
                                <div class="card-header">
                                    <h5 class="card-title">Product Details</h5>
                                </div>
                                <div class="card-body">
                                    <!-- Add your product details here -->
                                    <p>Product Name: <%= details[0].productInfo[0].title %></p>
                                    <p style="color: rgb(53, 138, 53);">Price: ₹<%=details[0].productInfo[0].  promotionalPrice %></p>
                                    <p>Category: <%=details[0].productInfo[0]. category %></p>
                                    <!-- Add more details as needed -->
                    
                                    <!-- Example image for the product -->
                                    <img style="height: 200px; width: 200px;" src="<%= details[0].productInfo[0].Images[0] %>" alt="Product Image" class="img-fluid mt-3">
                                    <p> <%=details[0].productInfo[0]. description %></p>
                                    <p style="display: none;" id="idGot"><%= details[0]._id %></p>
                                </div>
                            </div>
                                <div class="table-responsive">
                                    
                                </div>
                                <!-- table-responsive// -->
                            </div>
                            <!-- col// -->
                            <div class="col-lg-1"></div>
                           
                            <!-- col// -->
                        </div>
                    </div>
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->
            </section>
            <!-- content-main end// -->
            <footer class="main-footer font-xs">
                <div class="row pb-30 pt-15">
                    <div class="col-sm-6">
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                        &copy; Nest - HTML Ecommerce Template .
                    </div>
                    <div class="col-sm-6">
                        <div class="text-sm-end">All rights reserved</div>
                    </div>
                </div>
            </footer>
        </main>
        <div class="modal" id="retryPaymentModal" tabindex="-1">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Retry Payment Options</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Select your preferred payment method:</p>
                  <% if(details[0].totalAmount<=5000){ %>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="retryPaymentMethod" value="cashOnDelivery" id="retryCashOnDelivery" checked>
                    <label class="form-check-label" for="retryCashOnDelivery">
                      Cash on Delivery
                    </label>
                  </div>
                  <% } %>
                  <% if( details[0].totalAmount>=5000) {%>
                    <p style="color: red;">cash on delivery is not Available for this amount</p>
                    <% } %>
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="retryPaymentMethod" value="OnlinePayment" id="retryOnlinePayment">
                    <label class="form-check-label" for="retryOnlinePayment">
                      Online Payment
                    </label>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                 <a onclick="processRetryPayment()"><button type="button" class="btn btn-primary" >Retry Payment</button></a>
                </div>
              </div>
            </div>
        </div>
       
       
      
  <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
     <script src="/js/vendors/jquery-3.6.0.min.js"></script>

        
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="/js/vendors/bootstrap.bundle.min.js"></script>
        <script src="/js/vendors/select2.min.js"></script>
        <script src="/js/vendors/perfect-scrollbar.js"></script>
        <script src="/js/vendors/jquery.fullscreen.min.js"></script>
        <!-- Main Script -->
        <script src="/js/main.js?v=1.1" type="text/javascript"></script>
        <script>
            
            
   
            function openModal() {
          // Open the retry payment modal
          
          $('#retryPaymentModal').modal('show');
        
          
        }
    </script>
   <script>
    async function processRetryPayment() {
        try {
            console.log('may i');
            let selectedPaymentMethod = document.querySelector('input[name="retryPaymentMethod"]:checked').value;
            let orderId = document.getElementById('idGot').innerText;

            const response = await fetch(`/retryPayment?orderId=${orderId}&paymentMethod=${selectedPaymentMethod}`, {
                method: 'GET', // or 'GET' depending on your server-side implementation
             
                
                // You can include a request body if needed
             
            });
            const responseData = await response.json();
            console.log(responseData);

          if (responseData.codSuccess) {
          window.location.href = '/placed';
          } else {
          // Handle errors
          console.log(response, 'kdjshjkdhflksjdhf');
          razorpayPayment(responseData.orders)
          }
            if (response.ok) {
                // Handle success, e.g., redirect or show a success message
                $('#retryPaymentModal').modal('hide');
            } else {
                // Handle error, e.g., show an error message to the user
                console.error('Retry payment failed:', response.statusText);
            }
        } catch (error) {
            console.error('An unexpected error occurred:', error);
        }
    }

   
    function razorpayPayment (order){
      console.log("hey",order);
      var options = {
        "key": "rzp_test_vPLjv2WYUNYCln", // Enter the Key ID generated from the Dashboard
        "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
        "currency": "INR",
        "name": "Vcart", //your business name
        "description": "Test Transaction",
        "image": "https://example.com/your_logo",
        "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "callback_url": "/api/paymentVerification",
        "prefill": { //We recommend using the prefill parameter to auto-fill customer's contact information especially their phone number
            "name": "Gaurav Kumar", //your customer's name
            "email": "gaurav.kumar@example.com",
            "contact": "9000090000" //Provide the customer's phone number for better conversion rates 
        },
        "notes": {
            "address": "Razorpay Corporate Office"
        },
        "theme": {
            "color": "#3399cc"
        },
      
      };
      console.log(options);
      var rzp1 = new Razorpay(options)
      rzp1.open();
      }
</script>
 
    </body>
</html>
